@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

@theme {
    --font-playfair: "Playfair Display", serif;
}

@layer base {
    html {
        color-scheme: light;
    }

    @media (prefers-color-scheme: dark) {
        html {
            color-scheme: dark;
        }
    }
}
