@import "tailwindcss";

body {
  background: #fffaee;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: #080707;
  }
}

@theme {
  --color-background: #fffaee;
  --color-dbackground: #000;
  --color-box: #eee;
  --color-darkBox: ##0a0a0a;
  --color-headerBox: #000;
  --color-blue: #248;
  --color-bluehv: #3355aa;
}

::selection {
  background-color: #248;
  color: white;
}

@layer components {
  .gradient {
    @apply bg-gradient-to-r from-black to-blue;
  }
  .inputFields {
    @apply focus:-inset-x-6  border-1 focus:outline-none focus:ring-2 focus:ring-blue rounded-2xl px-5 py-3 text-[20px] w-[400px] dark:border-[#aaa] dark:text-[#aaa];
  }
  .labels {
    @apply absolute bottom-13 left-6 bg-box px-1 text-[22px] dark:bg-darkBox dark:text-[#ddd];
  }
  .submit-btn {
    @apply rounded-full p-2 border-blue border-1 text-blue hover:bg-blue hover:text-[#ddd];
  }
  .background-gradient {
    @apply bg-gradient-to-r from-black to-blue-900;
  }
  .inpDark {
    @apply text-white bg-white;
  }
  .addSections {
    @apply flex relative space-x-5 items-center;
  }
  .addInput {
    @apply w-full px-[15px] py-[10px] rounded border-1 text-[18px];
  }
  .addLabel {
    @apply w-50;
  }
  .color {
    @apply dark:bg-black dark:text-[#ddd] text-[16px];
  }
  .input-group {
    @apply pb-3;
  }
}
